
.container{
  text-align: center;
}

.container h1{
  background: #cadedf;
  border: 1px solid blueviolet;
  border-radius: 20px;
  border-width: auto;
}
.app{
  margin-left: 35%;
}

.buttons{
  display: flex;
}

.button{
  border: 1px solid silver ;
  border-radius: 5%;
  width: 60px;
  height: 60px;
  background:rgb(254, 255, 255);
}
.button h1{
  margin: 2px;
  font-size: 40px;
}

